.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  position: relative;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 767px) {

  .cover__subtitle {
    font-size: 16px;
  }

}

@media (max-width: 424px) {

  .cover__subtitle {
    max-width: 275px;
    font-size: 14px;
    line-height: 1.14;
  }

}