.cover {
  margin: 0 auto;
  padding-top: 92px;
  max-width: 1184px;
}

@media (max-width: 1279px) { 

  .cover {
    padding-top: 90px; 
  }

} 

@media (max-width: 424px) {

  .cover {
    padding-top: 66px;
  }

}