.place__link {
  display: block;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  color: var(--color-text-primary);
  transition: all .3s ease-in;
  cursor: pointer;
}

.place__link:hover {
  opacity: .8;
}