.place__website {
  grid-area: website;
  align-self: end;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

@media (max-width: 424px) {

  .place__website {
    margin: 0 16px;
    row-gap: 12px;
  }

}